@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: rgb(241, 201, 239);
    font-family: Lato;
}
.container {
    margin-top: 100px;
}
.song {
    background-color: #FBF2FA;
    margin: 0 auto;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 0 rgb(54, 54, 54);
}
.song h2 {
    text-align: center;
    padding: 15px;
}
.song p {
    text-align: center;
    padding: 5px;
}